# macOS
.DS_Store

# Dependencies
node_modules/

# pnpm
.pnpm-store/

# Turbo
.turbo/

# Environment
.env
.env.local

# Build outputs
dist/
.astro/
apps/api/.serverless/api.zip
apps/api/.serverless/cloudformation-template-update-stack.json
apps/api/.serverless/meta.json
apps/api/.serverless/serverless-state.json
